h1 {
    font-style: italic;
  }

#secciondatos {
    width: 50%;
    margin: 0 auto;
}

h2 {
    font-family: 'Open Sans', sans-serif;
}

p {
    text-align: center;
}

span {
    text-align: center;
}
  
#seccionredes {
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

a {
    font-weight: 600;
}

.seccion {
    width: 50%;
    margin: 0 auto; 

    background-color: white;
    padding: 2%;
    margin-top: 2% !important;
    margin-bottom: 2% !important;
    box-shadow: 0 1px 6px rgb(0 0 0 / 12%), 0 1px 4px rgb(0 0 0 / 24%);
}

#seccionhabilidades table td {
    text-align: center;
}

#seccionhabilidades table {
    margin: 0 auto;
}


section h2 {
    color: #5701f7;
}

a {
    text-decoration: none;
}

nav ul {
    list-style-type: none;
}

#secciondatos p {
    font-size: 1.4rem;
    margin-top: 6%;
    color: #373B41;
}


#seccioncontactenos {
    display: grid;
    grid-template-areas: "area1 area1 area1 area1"
                         "area2 area2 area3 area3"
                         "area4 area4 area5 area5";
}

#seccioncontactenos h2 {
    grid-area: area1;
}

#seccioncontactenos h3#datos {
    grid-area: area2;
}

#seccioncontactenos h3#ubicacion {
    grid-area: area3;
}

#seccioncontactenos form {
    grid-area: area4;
}

#seccioncontactenos div {
    grid-area: area5;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

.part {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.3rem;
}

.separator {
    column-gap: 0.2rem;
}

.separator2 {
    column-gap: 1.2rem;
}

.form-section {
    margin-top: 0.8rem;
    margin-bottom: 0.4rem;
}

footer {
    display: flex;
    justify-content: center;
}

footer address {
    display: flex;
    flex-direction: column;
}

footer address div {
    text-align: center;
}